/* memberikan style pada semua */
body {
    font: 15.5px arial, sans-serif;
    background-color: rgb(174, 203, 218);
}

/* membuat canvas putih ditengah */
.container {
    width: 800px;
    margin: auto;
    background-color: rgb(236, 236, 236);
}

/* mengatur jarak dalam header */
header {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

/* specify css elemen */
.header .judul {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}


/* Bagian NAV */

 /* mengatur display inline-block agar bisa diberikan dimensi */
.nav {
    padding: 0px;
}

.nav li {
    /* agar menjadi kesamping tidak kebawah */
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}

/* Menghhilangkan garis bawah */
.nav li a {
    text-decoration: none;
    color: rgb(26, 1, 250);
}

/* ketika navigas disorot mouse */
.nav li a:hover {
    background-color: lightblue;
    color: white;
}

    
/*untuk css banner*/
.banner {
    height: 300px;
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: 0px -150px;
    border-top: 5px solid rgb(0, 0, 0);
    border-bottom: 5px solid skyblue;
}