/* memberikan style pada semua */
body {
    font: 15.5px arial, sans-serif;
    background-color: rgb(174, 203, 218);
}

/* membuat canvas putih ditengah */
.container {
    width: 800px;
    margin: auto;
    background-color: rgb(240, 238, 238);
}

/* mengatur jarak dalam header */
header {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

/* specify css elemen */
.header .judul {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}


/* Bagian NAV */

 /* mengatur display inline-block agar bisa diberikan dimensi */
.nav {
    padding: 0px;
}

.nav li {
    /* agar menjadi kesamping tidak kebawah */
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}

/* Menghhilangkan garis bawah */
.nav li a {
    text-decoration: none;
    color: rgb(26, 1, 250);
}

/* ketika navigas disorot mouse */
.nav li a:hover {
    background-color: lightblue;
    color: white;
}

    
/*untuk css banner*/
.banner {
    height: 300px;
    background-image: url(img/banner.jpg);
    background-size: cover;
/* Background position : mengatur posisi gambar */ 
    background-position: 1px -70px;
    border-top: 5px solid rgb(0, 0, 0);
    border-bottom: 5px solid skyblue;
}

/* Isi */
.isi {
    padding: 20px;
}

.isi h2 {
    font-size: 25px;
    font-weight: bold;
}

.isi .penulis {
    font-size: 12px;
    font-style: italic;
    /* agar naik */
    margin-top: -10px;
}

.isi .penulis a {
    text-decoration: none;
    color: rgb(60, 138, 168);
}

.isi p {
    font-size: 16px;
    text-align: justify;
    color:rgb(0, 0, 0);
}

/* Footer */
.footer {
    background-color: rgb(255, 0, 0);
    height: 50px;
    padding: 2px;
}

.footer .copyright {
    font-size: 14px;
    color: white;
    text-align: center;
}